__pycache__/
*.py[cod]

cache/
outputs/
uploads/
thumbs/
templates_store/
active_template.json
slots.json

*.psb
*.psd

test_asset.png
live_manual_test.png
overlay_order_asset.png

.DS_Store
Thumbs.db
